/* --- Main Tabs --- */
.main-tabs {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    display: flex;
    gap: 10px;
}

.main-tab-button {
    padding: 12px 25px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 8px 8px 0 0;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.main-tab-button:hover {
    background-color: #f0f0f0;
}

.main-tab-button.active {
    background: #fff; 
    color: var(--mint-dark);
    border-bottom: 2px solid #fff; 
    margin-bottom: -2px; 
}

.main-tab-content {
    display: none;
}

.main-tab-content.active {
    display: block;
}